.icone-globo {
    width: 50px;
    height: 50px;
  }
  
  .icone-carrinho {
    width: 50px;
    height: 50px;
  }
  
  .icone-calendario {
    width: 60px;
    height: 60px;
  }

.text-content {
    width: 200px;
    height: 80px;
  }
  
  .grid1-content .text-content {
    display: flex;
    flex-direction: column;
  }
  
  .grid1-content h3,
  .grid1-content p {
    margin: 0;
  }
  
  .grid-one-content article {
    display: flex;
    align-items: center;
    gap: 1.375rem;
    margin: 0;
  }
  
  .grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 20rem;
  }
  
  .grid1-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    justify-items: center;
  }
  
  .grid1-content h3 {
    color: rgba(0, 0, 0, 0.66);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }
  
  .grid1-content p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
  }
  
  @media screen and (max-width: 1218px) {
    .grid-one-content {
      height: 44rem;
    }
    .article {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .grid1-content {
      grid-template-columns: repeat(1, 1fr);
    }
  }