* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.fundadoras {
  text-align: center;
  padding: 50px 0;
  background-color: #f5f5f5;
}

.titulo h2 {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 100%;
  text-transform: capitalize;
}

.titulo p {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.5px;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
}

.team-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Padrão para desktop */
  grid-template-columns: 150px 150px 150px 150px 150px;
  gap: 20px; /* Reduzido o espaçamento entre os cards */
  padding: 20px;
  max-width: 1000px; /* Largura máxima reduzida */
  margin: 0 auto;
  justify-content: center;
}

.member-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px; /* Reduzido o padding interno */
  transition: transform 0.3s ease;
  width: 150px; /* Tamanho máximo reduzido para o card */
  height: 220px;
}

.member-card:hover {
  transform: translateY(-10px);
}

.member-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 150px; /* Reduzido o tamanho máximo da imagem */
  margin-bottom: 10px; /* Reduzido o espaçamento abaixo da imagem */
}

.member-card h3 {
  font-size: 16px; /* Fonte menor para o nome */
  margin-bottom: 5px;
  color: #333;
}

.member-card p {
  font-size: 12px; /* Fonte menor para o parágrafo */
  color: #666;
}

/* Para telas de tablet (2x2) */
@media (max-width: 768px) {
  .team-section {
    grid-template-columns: repeat(2, 1fr); /* Dois em cima, dois embaixo */
    grid-template-columns: 150px 150px;
    justify-content: center; /* Centraliza horizontalmente */
    place-items: center;
  }
}

/* Para telas de celular (1x1) */
@media (max-width: 480px) {
  .team-section {
    grid-template-columns: 1fr; /* Um por linha */
    justify-content: center; /* Centraliza horizontalmente */
    place-items: center;
  }
}
